@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

.wrap-login {
  margin: 15rem 30%;
  width: 40%;
  box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}

.wrap-form {
  width: 100%;
  border-radius: 10px;
  background: white;

  .form-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    background: #2f3640;
    color: white;
    border-radius: 10px 10px 0 0;
  }

  .form-body {
    padding: 10px;

    .row {
      display: flex;
      justify-content: space-around;
      padding: 10px;

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        appearance: none;
        width: 100%;
        margin: 0 15px;
        height: 35px;
        padding: 5px 15px;
        border-radius: 5px;
        outline: none;
        border: none;
        background: #e8ebed;
        color: #576366;
        font-size: 14px;
      }
    }
    .upload-group {
      display: flex;
      flex-direction: column;
      // justify-content: flex-start;
      padding: 10px;

      .btn-choose {
        appearance: none;
        width: 150px;
        margin: 0 15px;
        padding: 14px 0;
        height: 14px;
        text-align: center;
        border-radius: 5px;
        outline: none;
        border: none;
        background: #27ae60;
        color: white;
        font-size: 16px;
        cursor: pointer;
        &:hover {
        background-color: #229251;
        }
      }

      .btn-change {
        appearance: none;
        width: 150px;
        margin: 0 15px;
        padding: 14px 0;
        height: 14px;
        text-align: center;
        border-radius: 5px;
        outline: none;
        border: none;
        background: tomato;
        color: white;
        font-size: 16px;
        cursor: pointer;
        &:hover {
        background-color: rgb(214, 84, 61);
        }
      }

      input[type="file"] {
        display: none;
      }
    }
  }

  .rule {
    height: 2px;
    background: #e8ebed;
    margin: 0px 35px;
  }

  .form-footer {
    margin: 0 25px 15px 25px;
    padding: 15px 10px;

    a {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      border: none;
      border-radius: 5px;
      padding: 5px 15px;
      background: #27ae60;
      margin-right: 10px;
      font-size: 14px;
    }

    span {
      margin-left: 8px;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For tablets: */
  .wrap-login {
    width: 90%;
    margin: 10rem 5%;
  }
}
