:root {
  --background-color: #fff;
  --text-color: #2f3640;
  --text-color-w: #fff;
  --light-color: #353b48;
  --prim-color: #2f3640;
  --prim-color-tr: #2f3640b0;
  --nav-width: 250px;
  --icon-size: 18px;
}

hr {
  border: 0.15px solid var(--prim-color);
  margin: 5px;
}

//scrollbar
/* width */
::-webkit-scrollbar {
  border-radius: 2px;
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--prim-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: mediumseagreen;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #57f040;
}

::-webkit-scrollbar:hover {
  border-radius: 2px;
  height: 10px;
}

//element

//button
.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  min-width: 70px;
}
.btn-success {
  background-color: mediumseagreen;
  color: white;
  &:hover {
    background-color: rgb(45, 141, 88);
  }
}
.btn-disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(189, 189, 189);
  color: white;
  cursor: not-allowed;
  .btn-loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid rgb(224, 224, 224);
    border-right: 2px solid rgb(121, 121, 121);
    border-bottom: 2px solid rgb(95, 95, 95);
    height: 10px;
    width: 10px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin-right: 10px;
  }
}
.btn-info {
  background-color: dodgerblue;
  color: white;
  &:hover {
    background-color: rgb(25, 114, 202);
  }
}
.btn-danger {
  background-color: tomato;
  color: white;
  &:hover {
    background-color: rgb(196, 74, 52);
  }
}
.btn-warn {
  background-color: gold;
  // color: white;
  &:hover {
    background-color: goldenrod;
  }
}
.btn-primary {
}
.btn-secondary {
}
.btn-login {
  background-color: mediumseagreen;
  padding: 15px;
  color: white;
  width: 100%;
  &:hover {
    background-color: rgb(45, 141, 88);
  }
}

.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 2.5rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 3.5rem;
}
.mr-1 {
  margin-right: 0.5rem;
}
.mr-2 {
  margin-right: 1rem;
}
.mr-3 {
  margin-right: 2.5rem;
}
.mr-4 {
  margin-right: 3rem;
}
.mr-5 {
  margin-right: 3.5rem;
}
.ml-1 {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.ml-3 {
  margin-left: 2.5rem;
}
.ml-4 {
  margin-left: 3rem;
}
.ml-5 {
  margin-left: 3.5rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 2.5rem;
}
.mt-4 {
  margin-top: 3rem;
}
.mt-5 {
  margin-top: 3.5rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 2.5rem;
}
.mb-4 {
  margin-bottom: 3rem;
}
.mb-5 {
  margin-bottom: 3.5rem;
}

//main
.layout {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  .lay-side {
    position: fixed;
    background-color: var(--light-color);
    // background-color: #40407a;
    transition: width 0.25s;
    width: var(--nav-width);
    min-height: 100vh;
  }
  .lay-main {
    color: var(--text-color);
    flex: 1;
    transition: margin-left 0.25s;
    margin-left: var(--nav-width);
  }
}
.header {
  width: calc(100% - var(--nav-width));
  height: 55px;
  background-color: var(--prim-color);
  position: fixed;
  text-align: right;
  top: 0;
  right: 0;
}

//navigation
.navbar {
  width: 100%;
  .nav-head {
    background-color: var(--prim-color);
    height: 55px;
    width: var(--nav-width);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    cursor: pointer;
    .nav-head-text {
      width: calc(100% - 55px);
      color: var(--text-color-w);
      font-weight: bolder;
      text-align: center;
      font-size: 20px;
      padding-top: 20px;
    }
    .nav-head-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      // padding: 20px;
      color: var(--text-color-w);
    }
  }
  .nav-main {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 55px;
    max-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    height: 100%;
    .nav-item {
      display: flex;
      justify-items: center;
      align-items: center;
      width: 100%;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 5px;
      cursor: pointer;
      .nav-icon {
        font-size: var(--icon-size);
        margin: 10px;
      }
      .nav-name {
        padding-bottom: 2px;
      }
    }
    .nav-item:hover {
      font-weight: bold;
      background-color: var(--prim-color-tr);
    }
    .nav-item--active {
      font-weight: bold;
      // border-radius: 3px;
      border-left: 5px solid mediumseagreen;
      // border-bottom: 1px solid mediumseagreen;
      // border-top: 1px solid mediumseagreen;
    }
    .subnav-item {
      display: flex;
      justify-items: center;
      align-items: center;
      width: 100%;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 5px;
      margin-left: 10px;
      font-size: 14px;
      font-weight: normal;
      .nav-icon {
        font-size: 14px;
        margin: 10px;
      }
      .nav-name {
        padding-bottom: 2px;
      }
    }
    .subnav-item:hover {
      font-weight: bold;
      background-color: var(--prim-color-tr);
    }
    .subnav-item--active {
      font-weight: bold;
      // border-radius: 3px;
      border-left: 5px solid mediumseagreen;
      // border-bottom: 1px solid mediumseagreen;
      // border-top: 1px solid mediumseagreen;
    }
  }
}

.main {
  width: 100%;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .breadcrumb {
    width: 99.9%;
    margin-bottom: 40px;
    box-shadow: 1px 9px 6px -6px rgba(0, 0, 0, 0.267);
    -webkit-box-shadow: 1px 9px 6px -6px rgba(0, 0, 0, 0.185);
    -moz-box-shadow: 1px 9px 6px -6px rgba(0, 0, 0, 0.103);
    .title {
      padding: 10px;
      font-size: 24px;
    }
    .bread-nav {
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 2px;
      font-size: 16px;
    }
  }
  .wrap {
    border-radius: 8px;
    padding: 10px;
    padding: 10px;
    box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.45);
    width: 95%;
    margin-bottom: 40px;
    position: relative;
    .load-content {
      position: absolute;
      background-color: #2f36405e;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .gr-2-40-60 {
      border-radius: 8px;
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: calc(40% - 10px) calc(60% - 10px);
      width: 100%;
    }
  }
}

//modal
.modal {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.384);
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-card {
    position: relative;
    width: 50%;
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;

    /* font styling */
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    .closeModal {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 2px 8px 2px 8px;
      border-radius: 4px;
      /* background-color: #2b5ba5; */
      /* font styling */
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
      border: 1px solid #dae7f3;
    }
    .closeModal:hover {
      background-color: #57f040;
      color: white;
    }
    .title {
      /* font styling */
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 32px;
      line-height: 24px;
    }
  }
}

.loader {
  margin: 20% auto;
  border: 20px solid #353b48;
  border-radius: 50%;
  border-top: 20px solid #636f80;
  border-right: 20px solid mediumseagreen;
  border-bottom: 20px solid tomato;
  height: 150px;
  width: 150px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-md {
  margin: 5px auto;
  border: 8px solid #353b48;
  border-radius: 50%;
  border-top: 8px solid #636f80;
  border-right: 8px solid mediumseagreen;
  border-bottom: 8px solid tomato;
  height: 30px;
  width: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}