.table_component {
  width: 100%;
  .pagination {
    display: inline-block;
    margin-top: 10px;
    float: right;
  }

  .pagination li {
    font-size: 14px;
    cursor: pointer;
    color: black;
    float: left;
    padding: 4px 8px;
    margin: 0.5px;
    text-decoration: none;
    list-style-type: none;
  }

  .pagination li.active {
    background-color: mediumseagreen;
    color: white;
    border-radius: 5px;
  }

  .pagination li:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
}

#custum_table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

#custum_table td,
#custum_table th {
  padding: 12px;
}

#custum_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#custum_table tr:hover {
  background-color: #ddd;
}

#custum_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #353b48;
  color: white;
}
